.tabs {
  button {
    color: white;
    background-color: black;
    font-size: 18px;
    border: none;
    padding: 0 1rem;
    &:hover {
      cursor: pointer;
    }
    span {
      color: gray;
    }
  }
}
